{% extends "layout.html" %} {% block body %}

<div class="register-form">
  <h1>Register For A Sport</h1>
  <form action="/register" method="post">
    <input
      autocomplete="off"
      autofocus
      name="name"
      placeholder="Name"
      type="text"
    />
    <select name="sport">
      <option disabled selected value="">Sport</option>
      <option>Basketball</option>
      <option>Soccer</option>
      <option>Ultimate Frisbee</option>
    </select>
    <button type="submit">Register</button>
  </form>
</div>


{% endblock %}
